<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiran.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vbuddy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Commitees"
            android:label="Commitees"
            android:theme="@style/AppTheme2"
            />
        <activity android:name=".Holidays"
            android:label="Holidays"/>
        <activity android:name=".Announcements"
            android:label="Announcements"/>
        <activity android:name=".Commitee_acm"
            android:label="ACM"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".Placement"
            android:label="Placements"/>
        <activity android:name=".Placement_display_desc"
            android:label="Placement"/>
        <activity android:name=".Commitee_acm_registerevent"
            android:theme="@style/AppTheme2"
            android:label="Event"/>
        <activity android:name=".IA_timetable"
            android:label="IA Timetable"/>
        <activity android:name=".Timetable"
            android:label="Timetable"/>
        <activity android:name=".Feedback"
            android:label="Feedback"/>
        <activity android:name=".Commitee_other"
            android:label="Other"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".Commitee_other_registerevent"
            android:theme="@style/AppTheme2"
            android:label="Event"/>
        <activity android:name=".Commitee_ieee"
            android:label="IEEE"
            android:theme="@style/AppTheme2"
            />
        <activity android:name=".Commitee_ieee_registerevent"
            android:theme="@style/AppTheme2"
            android:label="Event"/>
        <activity android:name=".Announcement_display_desc"
            android:label="Announcement"/>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".User_profile"
            android:label="Profile"></activity>
    </application>

</manifest>